body{
	margin: 0;
	background-color: var(--bg-color-light);
	transition: background-color 1s ease;
}
:root{
	--size: 600px;
	--bg-color-light: #fbdbff;
	--bg-color-darck: #68466c;
	--bg-color-darck-switcher: #f1c1f6;
	--bg-color-darck-modal: #bc8fc1;
}
.game-area{
	width: var(--size);
	height: var(--size);
	display: grid;
	grid-template-columns: repeat(100, calc(var(--size)/100));
	grid-template-rows: repeat(100, calc(var(--size)/100));
}
.wraper{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bt{
	position: fixed; top: 20px; right: 20px;
}
/* main borders */
.border-top{
	grid-row-end: 2;
	grid-column: 2/101;
}
.border-right{
	grid-column-start: 100;
	grid-row: 1/101;
}
.border-left{
	grid-column-start: 1;
	grid-row: 1/101;
}
.border-bottom{
	grid-row-start: 100;
	grid-column: 1/101;
}

.border{
	border: none !important;
}

/* colors */

.red{
	background-color: red;
}
.green{
	background-color: green;
}
.orange{
	background: orange;
}
.blue{
	transition: background-color 2s linear;
	background-color: blue;
}
.darck-theme{
	background-color: var(--bg-color-darck);
}
.darck-theme-modal-window{
	background-color: var(--bg-color-darck-modal);
}

/*  */
.block-1{
	grid-column: 1/30;
	grid-row: 1/50;
}
.block-2{
	grid-column: 20/65;
	grid-row: 60/100;
}
.block-3{
	grid-column: 35/95;
	grid-row: 20/70;
}
.block-4{
	grid-column: 80/100;
	grid-row: 80/100;
}
.start{
	grid-column: 5/15;
	grid-row: 85/95;
}


.end{
	grid-column: 65/80;
	grid-row: 85/100;
}

/* settings */

.switcher{
	width: 100px;
	height: 40px;
	border-radius: 50vw;
	background-color: #eee;
	position: relative;
}
.switcher::before{
	content: '';
	position: absolute;
	width: 30px;
	top: 5px;
	left: 5px;
	transform: translateX(0);
	border-radius: 50%;
	aspect-ratio: 1/1;
	background-color: var(--bg-color-light);
	transition: left .5s ease-in, background-color .6s ease;
}
.active::before {
	left: 65px;
	background-color: var(--bg-color-darck);
}
.modal-header{
	transition: background-color .5s ease, border-bottom 1.3s ease;
}
.darck-header{
	border-bottom: 1px solid var(--bg-color-darck) ;
}
.active{
	transition: background-color .5s ease;
	background-color: var(--bg-color-darck-switcher);
}